.container {
    max-width: 100%;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
}

.imgProd {
    margin: 0 auto;
    height: 350px;
    object-fit: contain;
}

.centr{
    margin: 0 auto;
    margin-bottom: 0.8em;
}

.wid{
    width: 30%;
    margin: 0 auto;
    margin-bottom: 0.8em;
}

.none {
    display: none;
    margin: 0 auto;
    margin-bottom: 0.8em;
}
